<div class="background"></div>
<div class="aboutToLighten"></div>
<div class="welcome">
    <h6 class="subHead">The best kind of news is:</h6>
    <h1 class="mainHead">Food News</h1>
    <h6 class="subHead2">Click See Articles above to get news!</h6>
</div>

<div class="container articlesHere"></div>


<script>
    $(".container").empty()


    //on click of see articles we will read /articles to get all article info, loop through data and make a new card for each one
    $(".scrapeButton").on("click", function () {
        $(".welcome").hide()
        $(".aboutToLighten").addClass("backgroundLighten")
        $.get("/articles").done(function (data) {
            //console.log(data)
            for (var i = 0; i < data.length; i++) {


                var newCard = $("<div class='row'><div class='col s12 m7 offset-l3 l6'><div class='card'><div class='card-image'><img src='" + data[i].image + "'></div><div class='center-align card-content'><p class='card-title'><a href='" + data[i].a + "'>" + data[i].title + "</a></p><p>" + data[i].summary + "</p></div><div class='center-align card-action'><a id='saveArticle' class='btn saveArticle' data-savearticleid='" + data[i]._id + "'>Save Article</a></div></div></div></div>")

                $(".container").append(newCard)


            }
        })
    })


    //when save article button is pressed we will send the id to the back end for it to change saved property
    $("body").on("click", "#saveArticle", function () {
        var id = $(this).data("savearticleid")
        console.log(id)
        $.ajax({
            method: "POST",
            url: "/savedArticles",
            data: {
                id: id,
            }
        }).then(function (data) {
            console.log(data);
            alert("Article Saved")
            location.reload()
        })

    })




</script>